::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background-color: #000;
}

@media (max-width: 768px) {
    #movie-info {
        text-align: center;
    }

    img {
        margin-bottom: 10%;
    }
}

.font-kode {
    font-family: "Kode Mono", monospace;
}

.font-nunito {
    font-family: "Nunito", sans-serif;
}

.poster {
    max-width: 220px
}